$foreground-primary-text-headings: #3A2638;
$foreground-primary-text-body-text: #3A2638;
$foreground-primary-text-links: #A03259;
$foreground-primary-accent-01: #A03259;
$foreground-primary-accent-02: #20716A;
$foreground-primary-accent-03: #E6F0ED;
$foreground-primary-accent-04: #F8EDF0;
$foreground-primary-accent-05: #FFC0C2;
$foreground-primary-accent-06: #3A2638;
$background-primary: #A03259;
$background-light-01: #E6F0ED;
$background-light-02: #F8EDF0;
$button-primary-color-01: #A03259;
$button-primary-color-02: #20716A;
$button-secondary-color-01: #A03259;
$button-tertiary-color-01: #3A2638;
$border-bounds: #3A2638;
$border-input-controls-active: #251824;
$border-input-controls-focus: #A03259;
$border-line-divider-divider: #20716A;
$base-white: #FBF9F9;
$base-black: #111111;
$error-color: #FF0500;
$error-input-color: #FBEFEF;