.block__callout{
  .block__callout__background{
    margin-bottom: 0 !important;
    min-height: 400px;
  }
  .block__callout--content{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .block__content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.block.alignfull, .component.alignfull{
  width: auto;
  left: unset;
}