.block__stats{
  padding: 3rem 0;
  .block__stats-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    &.row-cols-xl-4{
      > .col{
        flex: 0 0 auto;
        width: calc(25% - 5px);
      }
    }
    &.row-cols-xl-3{
      > .col{
        flex: 0 0 auto;
        width: calc(33.3% - 5px);
      }
    }
    > .col{    
      .card{
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        a{
          text-decoration: none;
        }
      }
    }
  }
}