@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";

$component: ".component";
#{$component} {
	&__content + &__accordion {
		margin-top: 30px;
		@include media-breakpoint-up(xl) {
			margin-top: 50px;
		}
	}
}

$section: ".component__accordion";
#{$section} {
	/*
  * Variations
  */
	.accordion {
		&--type1 {
			.accordion__item {
				background: transparent;
				border-radius: 0 !important;
				border-top: px-to-rem(0.2px) solid #767676 !important;
				&:last-child {
					border-bottom: px-to-rem(0.2px) solid #767676 !important;
				}
				.accordion__button {
					padding: 30px 80px 30px 0;
					&::before {
						background-size: auto;
					}
					&[aria-expanded="true"] {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2021 5.88845H0.111424' stroke='%23343333' stroke-width='1.8'/%3E%3C/svg%3E%0A");
						}
					}
					&[aria-expanded="false"] {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88858 0.454685V11.5453' stroke='%23343333' stroke-width='1.8'/%3E%3Cpath d='M0.343357 6H11.434' stroke='%23343333' stroke-width='1.8'/%3E%3C/svg%3E%0A");
						}
					}
				}
				.accordion__body {
					border-top: px-to-rem(0.2px) solid #767676 !important;
					padding: 44px 0;
					@media (max-width: 767.98px) {
						padding: 33px 0;
					}
				}
			}
		}

		&--type2 {
			display: flex;
			flex-direction: column;
			row-gap: 6px;
			.accordion__item {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
				background: rgba($color: #fff, $alpha: 1) !important;
				border-radius: 2px !important;
				border: none !important;
				.accordion__button {
					padding: 30px 80px 30px 30px;
					&::before {
						background-size: auto;
					}
					&[aria-expanded="true"] {
						padding-bottom: 20px;
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.53033 0.46967C6.23744 0.176777 5.76256 0.176777 5.46967 0.46967L0.696699 5.24264C0.403805 5.53553 0.403805 6.01041 0.696699 6.3033C0.989592 6.59619 1.46447 6.59619 1.75736 6.3033L6 2.06066L10.2426 6.3033C10.5355 6.59619 11.0104 6.59619 11.3033 6.3033C11.5962 6.01041 11.5962 5.53553 11.3033 5.24264L6.53033 0.46967ZM6.75 13L6.75 1L5.25 1L5.25 13L6.75 13Z' fill='%23211F1F'/%3E%3C/svg%3E%0A");
						}
					}
					&[aria-expanded="false"] {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46967 12.5303C5.76256 12.8232 6.23744 12.8232 6.53033 12.5303L11.3033 7.75736C11.5962 7.46447 11.5962 6.98959 11.3033 6.6967C11.0104 6.40381 10.5355 6.40381 10.2426 6.6967L6 10.9393L1.75736 6.6967C1.46447 6.40381 0.989593 6.40381 0.696699 6.6967C0.403806 6.98959 0.403806 7.46447 0.696699 7.75736L5.46967 12.5303ZM5.25 8.94366e-09L5.25 12L6.75 12L6.75 -8.94366e-09L5.25 8.94366e-09Z' fill='%23211F1F'/%3E%3C/svg%3E%0A");
						}
					}
				}
				.accordion__body {
					padding: 0 30px 33px;
				}
			}
		}
	}

	.accordion {
		&__item {
			background: transparent;
			border: none !important;
			box-shadow: none;
			margin-bottom: 0 !important;
			padding: 0;
		}
		&__header {
			@include font-heading;
			background-color: transparent;
			border-radius: 0 !important;
			color: unset;
			display: block;
			font-stretch: normal;
			font-style: normal;
			font-weight: normal;
			line-height: 1.2;
			margin: 0 !important;
			padding: 0;
			position: relative;
		}
		&__button {
			@include font-heading;
			background-color: transparent;
			border-radius: 0;
			border: none;
			color: $text;
			display: block;
			font-size: inherit;
			font-stretch: normal;
			font-style: normal;
			font-weight: $title_weight;
			letter-spacing: $title_spacing;
			line-height: 1.2;
			margin: 0;
			overflow-wrap: break-word;
			position: relative;
			text-align: left;
			transition: padding-bottom 0.2s ease;
			white-space: normal;
			width: 100%;
			word-break: break-word;
			&::after {
				content: none;
			}
			&::before {
				content: "" !important;
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				display: inline-block;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0 !important;
				transition: all 0.4s ease;
				width: 80px;
				@media (max-width: 767.98px) {
					width: 40px;
				}
			}
			&:hover,
			&:focus,
			&:active {
				box-shadow: unset;
				text-decoration: none;
			}
		}
		&__body {
			background-color: transparent;
			display: flex;
			flex-direction: column;
			gap: 15px;
			> *,
			* > *:not(.cta):not(font) {
				@include font-body;
				color: $text !important;
				font-size: px-to-rem($font_size_text);
				font-stretch: normal;
				font-weight: initial;
				letter-spacing: normal;
				line-height: px-to-rem($line_height_text);
			}
			ul,
			ol {
				padding-left: 15px;
			}
			img[class*="wp-image"] {
				width: auto !important;
			}
			.alignleft {
				float: left;
				margin: 0 15px 15px 0;
			}
			.alignright {
				float: right;
				margin: 0 0 15px 15px;
			}
		}
		&__grid {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 15px;
			.col-image {
				figure.media {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			.col-content {
				display: flex;
				flex-direction: column;
				gap: 15px;
				flex: 1;
			}
			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}
}
